<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="SaveData()">
    <ion-item lines="full">
      <ion-label class="form-label" position="floating" for="username">Username</ion-label>
      <ion-input class="form-input" #usernameInput (ionChange)="validateUsername(usernameInput.value)" type="text" id="username" required formControlName="username"></ion-input>
    </ion-item>
    <p *ngIf="usernameError" style="color: red;">{{ usernameError }}</p>
    <ion-item lines="full">
      <ion-label class="form-label" position="floating" for="password">Password</ion-label>
      <ion-input class="form-input" #passwordInput (ionChange)="validatePassword(passwordInput.value)" type="password" id="password" required formControlName="password"></ion-input>
    </ion-item>
    <p *ngIf="passwordError" style="color: red;">{{ passwordError }}</p>
    <!-- <ion-item lines="full">
      <ion-label class="form-label" position="floating" for="repeat_password">Repeat Password</ion-label>
      <ion-input class="form-input" type="password" id="repeat_password" required formControlName="repeat_password"></ion-input>
    </ion-item> -->
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>