<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="SaveData()">
    <ion-item lines="full">
      <ion-label class = "form-label" position="floating" for="username">Username</ion-label>
      <ion-input class = "form-input" type="text"  id= "username" required formControlName ="username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class = "form-label" position="floating" for = "password">Password</ion-label>
      <ion-input class = "form-input" type="password"  id= "password" required formControlName ="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class= "btn btn-primary" type="submit" value="submit" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>