ion-content {
    --ion-background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chat-container {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1; /* Allows chat container to fill the space */
  }
  
  #container {
    padding: 10px 0; 
  }
  
  .message-bubble {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .sender {
    background-color: #009688;
    color: #fff;
    align-self: flex-end;
  }
  
  .receiver {
    background-color: #fff;
    color: #333;
    align-self: flex-start;
  }
  
  ion-title {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  ion-footer {
    ion-toolbar {
      --background: #fff; /* Set the background color you prefer */
    }
  }
  .clear-history-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --min-height: auto; /* Reduces the height of the button */
    height: 24px; /* Or any other height you prefer */
    font-size: 0.8em; /* Smaller font size for the button text */
  }
  