<ion-header>
  <ion-toolbar>
    <ion-title>
      Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <!-- Image Preview -->
  <ion-img src="assets/icon/no-preview.png" class="logo-image"></ion-img>
 
  <div id="button-container">
    <ion-button id="take-picture" expand ="full">Take Picture</ion-button>
    <ion-input type="file" id="upload-existing" expand ="full" (change)="imageSelected($event.target.files[0])">Upload Existing</ion-input>
  </div>
</ion-content>