.logo-image {
    height: 500px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    vertical-align: middle;
    margin-right: 20px; /* Space between logo and title */
    margin-bottom: 50px;
  }

  ion-title {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .container {
    display: flex;
    align-content: center;
    justify-content: space-evenly; /* This will space out the buttons evenly */
    padding: 10px;
  }
  
  .logo-image {
    width: 100%;
    height: 200px;
    padding-top: 10px;
    object-fit: contain;
    background-color: #f3f3f3;
  }

  #date-input {
  margin-top: 12px; /* Adjust the value as needed */
}

#time-input {
  margin-top: 12px; /* Adjust the value as needed */
}
  

#take-picture, #upload-existing {
    flex-grow: 1; /* This makes the buttons grow to fill the container */
    margin: 0 5px; /* Adds a small margin between the buttons */
  }