<ion-header>
  <ion-toolbar>
    <ion-title>
      Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <!--Display uploaded image-->
    <ion-img id="uploadImg2"src="assets/icon/no-preview.png" class="logo-image"></ion-img>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="title" name="title" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Meal Date</ion-label>
      <ion-input [(ngModel)]="mealDate" name="mealDate" type="date"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">File Upload</ion-label>
      <ion-input type="file" id="upload-existing" expand="full" (change)="imageSelected($event.target.files[0])"></ion-input>
    </ion-item>

  <ion-button id=open-loading expand="block" (click)="submitForm()">Submit</ion-button>
  <ion-loading trigger="open-loading" message="Scanning the Image, Please wait 5 seconds..." duration="5000"></ion-loading>
</ion-content>






  <!-- Image Preview -->

  <!-----
<ion-content class="ion-padding">
  <ion-img src="assets/icon/no-preview.png" class="logo-image"></ion-img>
 
  <div id="button-container">
    <ion-button id="take-picture" expand ="full">Upload</ion-button>
    <ion-button type="file" id="upload-existing" expand ="full" (change)="imageSelected($event.target.files[0])">Upload Existing</ion-button>
  </div>
 
---->

  <!---
  <div id="button-container">
    <ion-button id="take-picture" expand ="full">Upload</ion-button>
    <ion-input type="file" id="upload-existing" expand ="full" (change)="imageSelected($event.target.files[0])">Upload Existing</ion-input>
  </div>
</ion-content>
---->