<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectToMealScan()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meal Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="meal.image_url" alt="Meal Picture"></ion-img>

  <ion-list>
    <ion-item-divider color="light"><strong>{{ meal.title }}</strong></ion-item-divider>

    <ion-item>
      <ion-label><strong>Weight</strong></ion-label>
      <ion-note slot="end">{{ meal.weight }} g</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Date</strong></ion-label>
      <ion-note slot="end">{{ meal.meal_date }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Time</strong></ion-label>
      <ion-note slot="end">{{ meal.meal_time }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Calories</strong></ion-label>
      <ion-note slot="end">{{ meal.calories }} kcal</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Proteins</strong></ion-label>
      <ion-note slot="end">{{ meal.proteins }} g</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Fats</strong></ion-label>
      <ion-note slot="end">{{ meal.fat }} g</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Carbohydrates</strong></ion-label>
      <ion-note slot="end">{{ meal.carbs }} g</ion-note>
    </ion-item>

    <ion-button expand="block" (click)="goToDashboard()">
      Dashboard
    </ion-button>

    <!-- Include additional fields as needed -->
  </ion-list>
</ion-content>
