<ion-header>
  <ion-toolbar>
    <ion-title>
      Meal Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="meal.pictureUrl" alt="Meal Picture"></ion-img>

  <ion-list>
    <ion-item-divider color="light"><strong>{{ meal.name }}</strong>
    </ion-item-divider>

    <ion-item>
      <ion-label><strong>DateTime</strong></ion-label>
      <ion-note slot="end">{{ meal.DateTime }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Calories</strong></ion-label>
      <ion-note slot="end">{{ meal.calories }} kcal</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Proteins</strong></ion-label>
      <ion-note slot="end">{{ meal.proteins }} g</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Fats</strong></ion-label>
      <ion-note slot="end">{{ meal.fats }} g</ion-note>
    </ion-item>

    <ion-item>
      <ion-label><strong>Carbohydrates</strong></ion-label>
      <ion-note slot="end">{{ meal.carbs }} g</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
