<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-avatar class="profile-picture" (click)="redirectToUserProfile()">
          <img src="https://cdn.pixabay.com/photo/2016/04/26/07/57/woman-1353825_1280.png" alt="Profile Picture">
        </ion-avatar>
      </ion-button>
    </ion-buttons>  
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-avatar class="settings">
          <img src="https://cdn.pixabay.com/photo/2021/07/25/08/07/administration-6491208_1280.png" alt="Settings Button">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card>
    <ion-card-header>
      Today's Progress
    </ion-card-header>
    <ion-title class="title">
      Macronutrient Intake
    </ion-title>
    <ion-card-content>
      <!-- Pie Chart and Horizontal Progress Lines -->
      <!-- Replace the following line with your pie chart component -->
 
      <!-- Micronutritional Levels -->
      <ion-label color="primary">Calories</ion-label>
      <ion-item>
        <ion-progress-bar value="0.95"></ion-progress-bar>
      </ion-item>
      <ion-label color="primary">Protien</ion-label>
      <ion-item>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-item>
      <ion-label color="primary">Fats</ion-label>
      <ion-item>
        <ion-progress-bar value="0.3"></ion-progress-bar>
      </ion-item>
      <ion-label color="primary">Carbohydrates</ion-label>
      <ion-item>
        <ion-progress-bar value="0.15"></ion-progress-bar>
      </ion-item>
 
    </ion-card-content>
  </ion-card>
 
  <!-- Scrollable List of Recent Meals -->
  <ion-item-divider color="light"> Recent Meals</ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let meal of recentMeals" (click)="openMealDetail(meal.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="meal.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ meal.name }}</h2>
        <p>Calories: {{ meal.calories }}</p>
        <p>Time: {{ meal.time }}</p>
        <p>Date: {{ meal.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Nav Bar -->
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block" id="home" (click)="redirectToMealHistory()">Meal History</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" id="add-meal" color="success" (click)="redirectToAddMeal()">Add Meal</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" id="ai-chat" (click)="redirectToAiChat()">AI Chat</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

