<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calorie Compass: A personalized way to track calories
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
    <ion-img src="assets/icon/logo.jpg" class="logo-image"></ion-img>
    <ion-button expand="full" (click)="redirectToLogin()">
      Login
    </ion-button>
    <div class="divider"></div>
    <ion-button expand="full" (click)="redirectToSignup()">
      Signup
    </ion-button>
  </div>
</ion-content>
 