

<ion-content class="ion-padding">
  <div id="container">
    <ion-img src="assets/icon/CalorieCompassLogo.png" class="logo-image"></ion-img>
    <h2>Calorie Compass</h2>
    <p>
      What ever your nutrition goals are, we help 
      "point you in the right direction". Start taking care of your health today!
    </p>
    <div class="largeDivider"></div>
    <ion-button id="mainButton"(click)="redirectToLogin()">
      Login
    </ion-button>
    <div class="divider"></div>
    <ion-button fill="outline" id="mainButton" (click)="redirectToSignup()">
      Signup
    </ion-button>
  </div>
</ion-content>
