<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="header-button" (click)="goToDashboard()">
        Dashboard
      </ion-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-margin-top avatar-container">
    <ion-avatar class="profile-picture">
      <img src="https://cdn.pixabay.com/photo/2016/04/26/07/57/woman-1353825_1280.png" alt="Profile Picture">
    </ion-avatar>
  </div>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.first_name" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.last_name" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input type="number" [(ngModel)]="userProfile.age" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Height (cm)</ion-label>
      <ion-input type="number" [(ngModel)]="userProfile.height" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Weight (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="userProfile.weight" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Goal</ion-label>
      <ion-select [(ngModel)]="userProfile.goal" [disabled]="!editMode">
        <ion-select-option value="maintain_weight">Maintain Weight</ion-select-option>
        <ion-select-option value="lose_weight">Lose Weight</ion-select-option>
        <ion-select-option value="gain_weight">Gain Weight</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Lifestyle</ion-label>
      <ion-select [(ngModel)]="userProfile.lifestyle" [disabled]="!editMode">
        <ion-select-option value="lazy">Lazy</ion-select-option>
        <ion-select-option value="sedentary">Sedentary</ion-select-option>
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="moderate">Moderate</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Allergies</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.allergies" [readonly]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">BMI</ion-label>
      <ion-input type="number" [(ngModel)]="bmi" readonly></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="editMode ? saveProfile() : editProfile()" *ngIf="!editMode">
      Edit
    </ion-button>
    <ion-button expand="block" color="primary" (click)="saveProfile()" *ngIf="editMode">
      Save
    </ion-button>
    <ion-button expand="block" color="medium" (click)="cancelEdit()" *ngIf="editMode">
      Cancel
    </ion-button>
  </div>
</ion-content>
